* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

body {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      color: #500399;
      background-image: linear-gradient(to top right, #CDAFC0, #A3F9D4, #F6FBBC);
}

p {
      font-family: 'Monoton', cursive;
      font-size: 70px;
}
span {
      font-family: 'Montserrat Alternates', sans-serif;
      font-size: 40px;
}