* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Architects Daughter', cursive;
      font-size: 40px;
      font-weight: bold;
      text-shadow: 3px 3px #000000;
      color: #ffffff;
      background-image: linear-gradient(to top left, #0a387c, #A8EB12);
}